.controls
    sheight: 100%
    width: 100%
    display: flex
    align-items: center
    justify-content: space-evenly

    .controllButton
        height: 30%
        width: 10%
        border-radius: 50px
        background: #0d7190
        box-shadow:  -12px 12px 40px #052d3a,12px -12px 40px #15b5e6
        line-height: 330%
        text-align: center
        vertical-align: center
        color: white
        cursor: pointer
        margin-right: 10px

    

    